---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$base-font-size:   20px;

$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       	#fafafa;
$background-hr:		#383838;
$background-color: 	#222222;
$background-darker: #1B1B1B;
$brand-color:	   	#bda573;
$anchor-hover-color:	lighten($brand-color, 30%);

$player-now-playing-size:   13px;
$player-height:		64px;
$player-button-size:	48px;
$player-bgcolor:	$brand-color;
$player-scrubber-color:	darken($brand-color, 1%);
$player-loaded-color:	darken($brand-color, 5%);
$player-progress-color:		lighten($brand-color, 10%);
$player-play-color:		lighten($brand-color, 5%);
$player-progress-height: 10px;

$tile-bgcolor:	   $brand-color;
$tile-color:	   #fafafa;
$tile-size:		   56px;
$tile-size-large:  64px;
$tile-border-radius:	2px;

$grey-color:       $brand-color;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-tiny:          310px;
$on-palm:          640px;
$on-laptop:        800px;

$height-600:       600px;

/********************
 * Language Buttons - I added these myself :)
 *******************/

 //didn't work
//html:lang(ar) {
//  font-family: "Lateef",serif;
//}

//for setting font of arabic text

/* arabic */
:lang(ar) {
  /* CSS properties for Arabic text */
  font-family: 'Harmattan'; /* Replace with the actual font name */
}

/*
@font-face {
  font-family: 'Harmattan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/harmattan/v19/goksH6L2DkFvVvRp9XpjSUqioP0.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC;
}
*/

 .language-button{
    background-color: $brand-color;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: 0px;
  }
  
  .language-button:hover {
    background-color: darken($brand-color, 50%);
    color: white;
  }

 
  

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin media-query-height($device) {
    @media screen and (min-height: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "fonts",
        "base",
        "layout",
        "syntax-highlighting"
;